body { 
	display: block;
	margin: 0px;
	background-color: #000055;
}
img {	
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border: 0px;
}
#img1 {
	height: 100%;
}
#img2 {
	height: 100%;
}
table, td, tr {
	border-width: 3px;
	border-color: #555555;
	border-style: ridge;
	border-collapse: collapse;
	background-color: #990055;
	
	height: 182px;
	vertical-align: middle;
	padding: 0px;
}
table {
	width: 100%;
}